<section class="informative">
  <h1>Conformance Testing Results</h1>
  <p>
    The results of the conformance testing are shown below:
  </p>
      {{#each tests}}
        <section>
          <h2>{{@key}}</h2>
          <table class="simple">
            <style>
              td.subtest {
                padding-left: 2rem;
              }
              td.optional {
                background-color: #dad4d4bf;
              }
            </style>
            <thead>
              <th width="80%">Test</th>
                {{#each @root.implementations}}
                  <th>{{this}}</th>
                {{/each}} 
            </thead>
            <tbody>
        {{#each this}}
          <tr>
            <td class="subtest {{getOptionalTitle @key}} {{getRowColor @key}}">{{@key}}</td>
            {{#each this}}
              <td
                class="{{state}} {{getOptional optional}}">
                {{getStatusMark state}}</td>
            {{/each}}
          </tr>
        {{/each}}
          </tbody>
          </table>
        </section>
      {{/each}}
</section>
